:root {
  --primary-text-color: #2c2c2c;
  --accent: #bbf330;
  --green-border: #7EB101;
  --yellow-main: #FFE550;
  --main-white: #fefefe;
  --white: #FFFFFF;
  
}
body {
  background: var(--main-white);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
/* resets */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.logo {
  width: 66px;
  height: 52px;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
}
.nav-link {
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
  text-decoration: underline;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 28px;
}
.btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  padding: 6px 18px;
  background: var(--accent);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: var(--yellow-main);
}
.hero {
  display: flex;
  justify-content: space-between;
}
.hero .item {
  width: 504px;
  margin-top: 159px;
}
.hero .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}
.hero .text {
  margin-top: 28px;
  margin-bottom: 40px;
}
.food-slider {
  top: auto;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  border: 26px solid var(--yellow-main);
  background: var(--main-white);
  overflow: hidden;
}

/* special */
.special {
  display: flex;
  justify-content: space-between;
  background: var(--yellow-main);
}
.special .item {
  width: 573px;
  
}
.special .title {
  margin-top: 99px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.special .text {
  width: 500px;
  margin-bottom: 40px;
}
.offer-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.offer-list .item {
  width: 253px;
}
.offer-icon {
  width: 48px;
  height: 48px;
  background: var(--main-white);
  border: 8px solid var(--main-white);
  border-radius: 50%;
}
.offer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;  
  margin-top: 16px;
  margin-bottom: 16px;  
}
.offer-text {
  font-size: 14px;
}
.btn-white {
  background: var(--white);
  border: 2px solid var(--green-border);
  border-radius: 30px;
  margin-bottom: 100px;
}
.btn-white:hover,
.btn-white:focus {
  background: var(--accent);
}
/* favorite */
.fav-title {
font-weight: 700;
font-size: 42px;
line-height: 1.17;
text-align: center;
margin-top: 100px;
margin-bottom: 20px;
}
.fav-text {
  line-height: 1.19;
  text-align: center;
}
.fav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 32px;
}
.fav-list>li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 395px;
  height: 397px;
  overflow: hidden;
  border: 16px solid var(--yellow-main);
  border-radius: 197.5px;
  margin-bottom: 32px;
}
/* subscribe */
.subscribe {
}

.subs-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: var(--main-color);
}

.subs-box {
  display: flex;
}

.subs-text {
  margin-top: 20px;
}

.subs-form {
  margin-top: 24px;
  font-size: 12px;
  color: var(--form-text);
}

/* footer */
