:root {
  --primary-text-color: #2c2c2c;
  --accent: #bbf330;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
/* resets */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.logo {
  width: 66px;
  height: 52px;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav-link {
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  padding: 6px 18px;
  background: var(--accent);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: yellow;
}
.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}
.hero-text {
  /* font-size: 16px; */
  line-height: 1.5;
}
/* subscribe */
.subscribe {
}

.subs-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: var(--main-color);
}

.subs-box {
  display: flex;
}

.subs-text {
  margin-top: 20px;
}

.subs-form {
  margin-top: 24px;
  font-size: 12px;
  color: var(--form-text);
}

/* footer */
